.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.house {
  cursor: pointer;
  padding: 0.5em;
  margin: 0.4em;
  font-weight: bold;
  background-color: beige ;
}

.house:hover {
  background-color: lightgray;
}

.navArrow {
  cursor: pointer;
  font-size: 2em;
}

.pageNumber {
  font-size: 1.2em;
  margin:0.2em;
}